## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Port Macquarie,AU,-31.4333,152.9167,67.89,94,100,1.14,overcast clouds
1,1,Mar Del Plata,AR,-38.0023,-57.5575,55.87,72,0,11.99,clear sky
2,2,Rikitea,PF,-23.1203,-134.9692,77.40,75,10,20.11,light rain
3,3,Fairbanks,US,64.8378,-147.7164,44.94,79,75,5.75,broken clouds
4,4,Hobart,AU,-42.8794,147.3294,49.01,94,0,9.22,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Rikitea,PF,-23.1203,-134.9692,77.40,75,10,20.11,light rain
7,7,Sao Miguel Do Araguaia,BR,-13.2750,-50.1628,80.10,43,24,0.89,few clouds
10,10,Pitimbu,BR,-7.4706,-34.8086,82.99,81,20,9.37,few clouds
12,12,Vanimo,PG,-2.6741,141.3028,77.20,91,99,4.61,overcast clouds
14,14,Jaynagar-Majilpur,IN,22.1758,88.4178,83.12,80,49,16.44,scattered clouds
15,15,Kahului,US,20.8947,-156.4700,82.98,58,35,13.33,scattered clouds
16,16,Avarua,CK,-21.2078,-159.7750,82.45,83,75,9.22,broken clouds
17,17,Salalah,OM,17.0151,54.0924,82.29,71,0,5.08,clear sky
18,18,Broome,US,42.2506,-75.8330,84.18,36,33,4.00,scattered clouds
21,21,Pathein,MM,16.7833,94.7333,79.54,88,79,3.94,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                196
City                   196
Country                196
Lat                    196
Lng                    196
Max Temp               196
Humidity               196
Cloudiness             196
Wind Speed             196
Weather Description    196
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Rikitea,PF,-23.1203,-134.9692,77.40,75,10,20.11,light rain
7,7,Sao Miguel Do Araguaia,BR,-13.2750,-50.1628,80.10,43,24,0.89,few clouds
10,10,Pitimbu,BR,-7.4706,-34.8086,82.99,81,20,9.37,few clouds
12,12,Vanimo,PG,-2.6741,141.3028,77.20,91,99,4.61,overcast clouds
14,14,Jaynagar-Majilpur,IN,22.1758,88.4178,83.12,80,49,16.44,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
677,677,Taguatinga,BR,-12.3857,-46.5711,80.89,31,4,2.51,clear sky
684,684,Tabon,PH,9.2388,117.9946,80.89,81,85,3.13,overcast clouds
685,685,Marsh Harbour,BS,26.5412,-77.0636,76.12,63,29,2.51,scattered clouds
686,686,Moerai,PF,-22.4333,-151.3333,79.92,75,47,14.90,scattered clouds
688,688,Fresnillo,MX,23.1667,-102.8833,82.62,17,6,11.59,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Rikitea,PF,77.40,light rain,-23.1203,-134.9692,
7,Sao Miguel Do Araguaia,BR,80.10,few clouds,-13.2750,-50.1628,
10,Pitimbu,BR,82.99,few clouds,-7.4706,-34.8086,
12,Vanimo,PG,77.20,overcast clouds,-2.6741,141.3028,
14,Jaynagar-Majilpur,IN,83.12,scattered clouds,22.1758,88.4178,
15,Kahului,US,82.98,scattered clouds,20.8947,-156.4700,
16,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,
17,Salalah,OM,82.29,clear sky,17.0151,54.0924,
18,Broome,US,84.18,scattered clouds,42.2506,-75.8330,
21,Pathein,MM,79.54,broken clouds,16.7833,94.7333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Rikitea,PF,77.40,light rain,-23.1203,-134.9692,People ThankYou
7,Sao Miguel Do Araguaia,BR,80.10,few clouds,-13.2750,-50.1628,Hotel Executivo Palace
10,Pitimbu,BR,82.99,few clouds,-7.4706,-34.8086,Reserva do Abiaí
12,Vanimo,PG,77.20,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
14,Jaynagar-Majilpur,IN,83.12,scattered clouds,22.1758,88.4178,Joychanditala Sarbojonin Durga Utsav Committee
...,...,...,...,...,...,...,...
677,Taguatinga,BR,80.89,clear sky,-12.3857,-46.5711,
684,Tabon,PH,80.89,overcast clouds,9.2388,117.9946,Port Lodge
685,Marsh Harbour,BS,76.12,scattered clouds,26.5412,-77.0636,Abaco Beach Resort
686,Moerai,PF,79.92,scattered clouds,-22.4333,-151.3333,Le Manotel
688,Fresnillo,MX,82.62,clear sky,23.1667,-102.8833,HOTEL DEL FRESNO

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))